<div class="fixed inset-0 bg-white bg-opacity-50 backdrop-filter backdrop-blur-sm z-50 flex items-center justify-center px-6" style="">
  <div class="h-auto overflow-hidden rounded-2xl bg-gray-900 shadow-2xl w-full max-w-2xl">
    <div class="h-14 bg-gray-800 flex items-center px-6">
      <div class="space-x-6 flex items-center">
        <div class="cursor-pointer text-gray-100"> Tailwind </div>
        <div class="cursor-pointer text-gray-500"> SCSS </div>
        <div class="cursor-pointer text-gray-500"> CSS </div>
        <div class="cursor-pointer text-gray-500"> SVG <span class="hidden md:inline">(Figma)</span>
      </div>
    </div>
    <div class="cursor-pointer ml-auto text-gray-400">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
    </div>
  </div>
  <div class="px-6 py-8 relative text-white">
  <button class="border border-gray-700 z-50 text-sm px-3 py-1.5 bg-gray-800 hover:bg-gray-700 rounded absolute right-4 top-4 flex items-center justify-center">Copy code</button>
  <pre id="tailwind">'slate-gray': {<span>
    '50': '#f4f6f7',</span><span>
    '100': '#e2e6eb',</span><span>
    '200': '#c9d0d8',</span><span>
    '300': '#a3aebd',</span><span>
    '400': '#718096',</span><span>
    '500': '#5b697f',</span><span>
    '600': '#4e586c',</span><span>
    '700': '#444b5a',</span><span>
    '800': '#3d424d',</span><span>
    '900': '#363a43',</span>
},
</pre><pre id="css" style="display: none;"><span>--slate-gray-50: #f4f6f7;
</span><span>--slate-gray-100: #e2e6eb;
</span><span>--slate-gray-200: #c9d0d8;
</span><span>--slate-gray-300: #a3aebd;
</span><span>--slate-gray-400: #718096;
</span><span>--slate-gray-500: #5b697f;
</span><span>--slate-gray-600: #4e586c;
</span><span>--slate-gray-700: #444b5a;
</span><span>--slate-gray-800: #3d424d;
</span><span>--slate-gray-900: #363a43;
</span>
</pre><pre id="scss" style="display: none;"><span>$slate-gray-50: #f4f6f7;
</span><span>$slate-gray-100: #e2e6eb;
</span><span>$slate-gray-200: #c9d0d8;
</span><span>$slate-gray-300: #a3aebd;
</span><span>$slate-gray-400: #718096;
</span><span>$slate-gray-500: #5b697f;
</span><span>$slate-gray-600: #4e586c;
</span><span>$slate-gray-700: #444b5a;
</span><span>$slate-gray-800: #3d424d;
</span><span>$slate-gray-900: #363a43;
</span>
</pre><pre id="svg" style="display: none;"><span>&lt;</span><span>svg width="1000" height="100" viewBox="0 0 1000 100" fill="none" xmlns="http://www.w3.org/2000/svg"</span>&gt;<span>
    <span>&lt;</span>rect width="100" height="100" fill="#f4f6f7" x="0" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#e2e6eb" x="100" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#c9d0d8" x="200" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#a3aebd" x="300" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#718096" x="400" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#5b697f" x="500" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#4e586c" x="600" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#444b5a" x="700" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#3d424d" x="800" y="0"/<span>&gt;</span></span><span>
    <span>&lt;</span>rect width="100" height="100" fill="#363a43" x="900" y="0"/<span>&gt;</span></span>
<span>&lt;</span>/svg<span>&gt;</span>
</pre></div></div></div>