    <div class="md:w-80 px-6 border-t border-b md:border-l overflow-y-scroll rounded-xl" style="height: 46.3rem">
      <div>
        <div class="font-semibold mt-4 text-gray-600 flex items-center space-x-2">
          <div class="w-3 h-3 rounded-full" style="background-color: #718096;"></div>
          <div>Color family</div>
        </div>
        <div class="flex items-center mt-3 space-x-2">
          <input class="bg-gray-100 px-4 py-1.5 w-full rounded-lg" type="text">
        </div>
        <div class="border-t my-4"></div>
        <div class="flex items-baseline mt-4">
          <div class="font-semibold text-gray-600 flex-grow">Hue</div>
          <div class="text-sm text-gray-500 italic">5 ... 7</div>
        </div>
        <div class="flex my-3">
          <div class="text-gray-500">All shades</div>
          <div class="ml-auto">
            <div class="flex">
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
            </div>
          </div>
        </div>
        <div class="flex my-3">
          <div class="text-gray-500">Shift lightest shades</div>
          <div class="ml-auto">
            <div class="flex">
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
            </div>
          </div>
        </div>
        <div class="flex my-3">
          <div class="text-gray-500">Shift darkest shades</div>
          <div class="ml-auto">
            <div class="flex">
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
            </div>
          </div>
        </div>
        <div class="border-t my-4"></div>
        <div class="flex items-baseline mt-4">
          <div class="font-semibold text-gray-600 flex-grow">Lightness</div>
          <div class="text-sm text-gray-500 italic">31 ... 97</div>
        </div>
        <div class="flex my-3">
          <div class="text-gray-500">All shades</div>
          <div class="ml-auto">
            <div class="flex">
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
            </div>
          </div>
        </div>
        <div class="flex my-3">
          <div class="text-gray-500">Shift lightest shades</div>
          <div class="ml-auto">
            <div class="flex">
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
            </div>
          </div>
        </div>
        <div class="flex my-3">
          <div class="text-gray-500">Shift darkest shades</div>
          <div class="ml-auto">
            <div class="flex">
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
              <button class="hover:bg-gray-100 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
            </div>
          </div>
        </div>
        <div class="border-t my-4"></div>

        <div class="mt-4 mb-6 flex flex-col space-y-3">
          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #f4f6f7;">50</div>
            <div class="flex items-baseline pl-2"><div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>
        
          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #e2e6eb">100</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>

          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #c9d0d8">200</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>

          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #a3aebd">300</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>

          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #718096">400</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>

          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #5b697f">500</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>

          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #4e586c">600</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>

          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #444b5a">700</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>

          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #3d424d">800</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>

          <div class="grid grid-cols-4 flex-grow border border-gray-300 rounded-lg overflow-hidden ml-auto divide-x">
            <div class="h-7 text-sm flex items-center justify-center" style="background-color: #363a43">900</div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">h</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="360">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">s</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
            <div class="flex items-baseline pl-2">
              <div class="text-sm text-gray-300">l</div>
              <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500" type="number" min="0" max="100">
            </div>
          </div>
        </div>
      </div>
    </div>