<div id="drawer-example" class="fixed z-40 h-screen p-4 overflow-y-auto bg-white w-80 border-r transition-transform left-0 top-0 -translate-x-full" tabindex="-1" aria-labelledby="drawer-label">
  <h5 id="drawer-disabled-backdrop-label" class="text-base font-semibold text-gray-500 uppercase">Settings</h5>
  <button type="button" data-drawer-hide="drawer-example" aria-controls="drawer-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center" >
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      <span class="sr-only">Close menu</span>
  </button>
  <div>
    <div class="font-semibold mt-4 text-gray-600 flex items-center space-x-2">
      <div class="w-3 h-3 rounded-full" style="background-color: #718096"></div>
      <div>Color family</div>
    </div>
    <div class="flex items-center mt-3 space-x-2">
      <input class="bg-gray-100 px-4 py-1.5 w-full rounded-lg" type="text">
    </div>
    <div class="border-t my-4"></div>
    <div class="flex items-baseline mt-4">
      <div class="font-semibold text-gray-600 flex-grow">Hue</div>
      <div class="text-sm text-gray-500 italic">339 ... 354</div>
    </div>
    <div class="flex my-3">
      <div class="text-gray-500 mr-1">All shades</div>
        <div class="ml-auto">
          <div class="flex">
            <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
            <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
          </div>
        </div>
      </div>
      <div class="flex my-4">
        <div class="text-gray-500 mr-1">Shift lightest shades</div>
        <div class="ml-auto">
          <div class="flex">
            <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
            <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
          </div>
        </div>
      </div>
      <div class="flex my-3">
        <div class="text-gray-500 mr-1">Shift darkest shades</div>
        <div class="ml-auto">
          <div class="flex">
            <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
            <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t my-4"></div>
    <div class="flex items-baseline mt-4">
      <div class="font-semibold text-gray-600 flex-grow">Saturation</div>
      <div class="text-sm text-gray-500 italic">51 ... 71</div>
    </div>
    <div class="flex my-3">
      <div class="text-gray-500 mr-1">All shades</div>
      <div class="ml-auto">
        <div class="flex">
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
        </div>
      </div>
    </div>
    <div class="flex my-4">
      <div class="text-gray-500 mr-1">Shift lightest shades</div>
      <div class="ml-auto">
        <div class="flex">
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
        </div>
      </div>
    </div>
    <div class="flex my-3">
      <div class="text-gray-500 mr-1">Shift darkest shades</div>
      <div class="ml-auto">
        <div class="flex">
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
        </div>
      </div>
    </div>
    <div class="border-t my-4"></div>
    <div class="flex items-baseline mt-4">
      <div class="font-semibold text-gray-600 flex-grow">Lightness</div>
      <div class="text-sm text-gray-500 italic">30 ... 97</div>
    </div>
    <div class="flex my-3">
      <div class="text-gray-500 mr-1">All shades</div>
      <div class="ml-auto">
        <div class="flex">
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
        </div>
      </div>
    </div>
    <div class="flex my-4">
      <div class="text-gray-500 mr-1">Shift lightest shades</div>
      <div class="ml-auto">
        <div class="flex">
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
        </div>
      </div>
    </div>
    <div class="flex my-3">
      <div class="text-gray-500 mr-1">Shift darkest shades</div>
      <div class="ml-auto">
        <div class="flex">
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-l-md flex items-center justify-center border border-gray-300">-</button>
          <button class="hover:bg-gray-200 bg-white w-7 h-7 rounded-r-md -ml-px flex items-center justify-center border border-gray-300">+</button>
        </div>
      </div>
    </div>
    <div class="border-t my-4"></div>
    <div class="mt-4 mb-6 flex flex-col space-y-3">
      <div class="grid grid-cols-4 flex-grow border border-gray-300 mb-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #f4f6f7;">50</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 my-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #e2e6eb">100</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 my-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #c9d0d8">200</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 my-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #a3aebd">300</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 my-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #718096">400</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 mb-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #5b697f">500</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 my-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #4e586c">600</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 my-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #444b5a">700</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 my-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #3d424d">800</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
      <div class="grid grid-cols-4 flex-grow border border-gray-300 my-1 rounded-lg overflow-hidden ml-auto divide-x">
        <div class="h-7 text-sm flex items-center justify-center" style="background-color: #363a43">900</div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">h</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="360">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">s</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
        <div class="flex items-baseline">
          <div class="text-sm text-gray-300 px-2">l</div>
          <input class="text-center border-none focus:ring-0 w-full h-7 text-sm text-gray-500 p-1" type="number" min="0" max="100">
        </div>
      </div>
    </div>
  </div>
</div>