<div class="rounded-xl flex flex-col md:flex-row overflow-hidden relative md:my-12">
  <div class="hidden md:flex absolute h-2 top-1/2 transform -translate-y-1/2 items-center justify-center" style="width: 10%; left: 80%;">
    <div class="h-2 w-2 -mt-2 rounded-full shadow" style="background-color: rgb(235, 229, 255);"></div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(243, 241, 255); color: rgb(75, 5, 173);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(75, 5, 173);">
      <div class="text-center font-medium">50</div>
      <div class="text-center text-xs uppercase opacity-90">f3f1ff</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(235, 229, 255); color: rgb(75, 5, 173);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(75, 5, 173);">
      <div class="text-center font-medium">100</div>
      <div class="text-center text-xs uppercase opacity-90">ebe5ff</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(217, 206, 255); color: rgb(75, 5, 173);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(75, 5, 173);">
      <div class="text-center font-medium">200</div>
      <div class="text-center text-xs uppercase opacity-90">d9ceff</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(190, 166, 255); color: rgb(75, 5, 173);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(75, 5, 173);">
      <div class="text-center font-medium">300</div>
      <div class="text-center text-xs uppercase opacity-90">bea6ff</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(159, 117, 255); color: rgb(235, 229, 255);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(75, 5, 173);">
      <div class="text-center font-medium">400</div>
      <div class="text-center text-xs uppercase opacity-90">9f75ff</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(132, 61, 255); color: rgb(235, 229, 255);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(235, 229, 255);">
      <div class="text-center font-medium">500</div>
      <div class="text-center text-xs uppercase opacity-90">843dff</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(121, 22, 255); color: rgb(235, 229, 255);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(235, 229, 255);">
      <div class="text-center font-medium">600</div>
      <div class="text-center text-xs uppercase opacity-90">7916ff</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(107, 4, 253); color: rgb(235, 229, 255);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(235, 229, 255);">
      <div class="text-center font-medium">700</div>
      <div class="text-center text-xs uppercase opacity-90">6b04fd</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(90, 3, 213); color: rgb(235, 229, 255);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(235, 229, 255);">
      <div class="text-center font-medium">800</div>
      <div class="text-center text-xs uppercase opacity-90">5a03d5</div>
    </div>
  </div>
  <div class="h-14 md:h-40 w-full p-2 md:p-4 flex justify-center flex-col" style="background-color: rgb(75, 5, 173); color: rgb(235, 229, 255);"><!---->
    <div class="px-4 md:px-0 md:mt-auto cursor-pointer flex items-center justify-between md:block" style="color: rgb(235, 229, 255);">
      <div class="text-center font-medium">900</div>
      <div class="text-center text-xs uppercase opacity-90">4b05ad</div>
    </div>
  </div>
</div>