<section id="color-palette">
  <div class="flex items-center mb-2 mt-8">
    <div class="text-lg flex-grow px-3">Slate Gray</div>
    <div class="flex space-x-1 justify-center">
      <button class="text-gray-500 px-3 py-1.5 text bg-white hover:bg-gray-100 rounded-md">Export</button>
      <button class="text-gray-500 px-3 py-1.5 text bg-white hover:bg-gray-100 rounded-md">Save</button>
    </div>
  </div>

  <div class="container rounded-xl bg-gray-50 border mx-auto flex flex-wrap justify-center text-gray-600 border-b overflow-hidden">
  <% palette.each do |palet| %>
    <div class="flex flex-col items-center justify-center text-center my-4 p-1">
      <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-inner p-2 md:p-4" style="background-color: #<%= palet.hex %>">
        <div class="font-medium">100</div>
        <div class="text-xs uppercase opacity-90"><%= "##{palet.hex}" %></div>
      </div>
    </div>
  <% end %>
  </div>
</section>