<section class="relative" id="color-palette">
  <div class="flex items-center mb-2 mt-8 w-full">
    <div class="text-lg flex-grow px-3 truncate" data-home-target="colorName">#<%= selected_color %></div>
    <div class="flex space-x-1 justify-center">
      <button class="text-gray-500 px-3 py-1.5 bg-white hover:bg-gray-200 rounded-md truncate" data-action="click->export#toggle" data-toggle-id="export-code">Export Code</button>
      <button class="text-gray-500 px-3 py-1.5 bg-white hover:bg-gray-200 rounded-md" type="button" data-drawer-target="drawer-example" data-drawer-show="drawer-example" aria-controls="drawer-example" data-drawer-body-scrolling="true" data-drawer-backdrop="false">Settings</button>
    </div>
  </div>

  <div class="rounded-xl flex flex-wrap justify-between text-gray-600 overflow-hidden gap-1">
    <% palette.each do |palet| %>
      <div class="flex flex-col items-center justify-center text-center">
        <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-inner p-2 md:p-4" style="background-color: #<%= palet.hex %>">
          <div class="font-medium" style="color: #<%= palet.invert.hex %>">100</div>
          <div class="text-xs uppercase font-medium"><%= "##{palet.hex}" %></div>
        </div>
      </div>
    <% end %>
  </div>
</section>