<div class="flex items-center mb-2 mt-8">
  <div class="text-lg flex-grow px-3">Slate Gray</div>
  <div class="flex space-x-1 justify-center">
    <button class="text-gray-500 px-3 py-1.5 text bg-white hover:bg-gray-100 rounded-md">Export</button>
    <button class="text-gray-500 px-3 py-1.5 text bg-white hover:bg-gray-100 rounded-md">Save</button>
  </div>
</div>

<div class="container rounded-xl bg-gray-50 border mx-auto flex flex-wrap justify-center text-gray-600 border-b overflow-hidden">
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-100">
      <div class="text-center font-medium">100</div>
      <div class="text-center text-xs uppercase opacity-90">#F7FAFC</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-200">
      <div class="text-center font-medium">200</div>
      <div class="text-center text-xs uppercase opacity-90">#EDF2F7</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-300">
      <div class="text-center font-medium">300</div>
      <div class="text-center text-xs uppercase opacity-90">#E2E8F0</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-400">
      <div class="text-center font-medium">400</div>
      <div class="text-center text-xs uppercase opacity-90">#CBD5E0</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-500 text-gray-50">
      <div class="text-center font-medium">500</div>
      <div class="text-center text-xs uppercase opacity-90">#A0AEC0</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-600 text-gray-50">
      <div class="text-center font-medium">600</div>
      <div class="text-center text-xs uppercase opacity-90">#718096</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-700 text-gray-50">
      <div class="text-center font-medium">700</div>
      <div class="text-center text-xs uppercase opacity-90">#4A5568</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-800 text-gray-50">
      <div class="text-center font-medium">800</div>
      <div class="text-center text-xs uppercase opacity-90">#2D3748</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center text-center my-4 p-1">
    <div class="w-24 h-24 flex cursor-pointer flex-col justify-center rounded shadow-lg shadow-inner p-2 md:p-4 bg-gray-900 text-gray-50">
      <div class="text-center font-medium">900</div>
      <div class="text-center text-xs uppercase opacity-90">#1A202C</div>
    </div>
  </div>
</div>