<div class="w-full max-w-sm bg-white rounded-lg shadow-md" style="background: linear-gradient(135deg, #4e586c, #363a43);">
  <a href="#" class="my-5 flex flex-col items-center">
    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="flex-shrink-0 rounded-lg w-40 h-40 object-cover object-center sm:mb-0 mb-4" style="color:#5b697f;" viewBox="0 0 24 24"><path d="M22 12h-4l-3 9L9 3l-3 9H2"></path></svg>
  </a>
  <div class="px-5 pb-5">
    <a href="#">
      <h5 class="text-xl font-semibold tracking-tight text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
    </a>
    <div class="flex items-center mt-2.5 mb-5">
      <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
      <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Second star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
      <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Third star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
      <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fourth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
      <svg aria-hidden="true" class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Fifth star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
      <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded ml-3" style="background-color:#e2e6eb; color:#3d424d;">5.0</span>
    </div>
    <div class="flex items-center justify-between">
      <span class="text-3xl font-bold text-white">$599</span>
      <div class="text-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer" style="background-color:#718096;">Add to cart</div>
    </div>
  </div>
</div>

<div class="hidden md:flex flex-col justify-between">
  <div id="toast-interactive" class="w-96 max-w-xs p-4 text-gray-500 bg-white rounded-lg shadow-md mx-4" role="alert">
    <div class="flex">
      <div class="inline-flex items-center justify-center flex-shrink-0 rounded-lg w-8 h-8" style="background-color:#718096; color:#e2e6eb;">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Refresh icon</span>
      </div>
      <div class="ml-3 text-sm font-normal">
        <span class="mb-1 text-sm font-semibold" style="color:#363a43;">Update available</span>
        <div class="mb-2 text-sm font-normal" style="color:#5b697f;">A new software version is available for download.</div> 
        <div class="grid grid-cols-2 gap-2">
          <div>
            <div class="inline-flex cursor-pointer justify-center w-full px-2 py-1.5 text-xs font-medium text-center text-white rounded-lg" style="background:#3d424d;">Update</div>
          </div>
          <div>
            <div class="inline-flex cursor-pointer justify-center w-full px-2 py-1.5 text-xs font-medium text-center text-white rounded-lg" style="background:#718096;">Not now</div> 
          </div>
        </div>    
      </div>
    </div>
  </div>

  <div id="toast-simple" class="flex items-center w-full max-w-xs p-4 bg-white rounded-lg shadow-md mx-4" style="color: #5b697f;" role="alert">
    <svg aria-hidden="true" class="w-5 h-5" style="color:#718096;" focusable="false" data-prefix="fas" data-icon="paper-plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M511.6 36.86l-64 415.1c-1.5 9.734-7.375 18.22-15.97 23.05c-4.844 2.719-10.27 4.097-15.68 4.097c-4.188 0-8.319-.8154-12.29-2.472l-122.6-51.1l-50.86 76.29C226.3 508.5 219.8 512 212.8 512C201.3 512 192 502.7 192 491.2v-96.18c0-7.115 2.372-14.03 6.742-19.64L416 96l-293.7 264.3L19.69 317.5C8.438 312.8 .8125 302.2 .0625 289.1s5.469-23.72 16.06-29.77l448-255.1c10.69-6.109 23.88-5.547 34 1.406S513.5 24.72 511.6 36.86z"></path></svg>
    <div class="pl-4 text-sm font-normal">Message sent successfully.</div>
  </div>

  <div class="w-80 p-4 rounded-lg text-white space-y-4 mx-4" style="background-color:#363a43;" role="alert">
    <div class="flex items-center justify-between">
      <span class="sr-only">Account info</span>
      <h3 class="font-medium">1. Account info</h3>
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    </div>
  </div>

  <div class="w-80 p-4  rounded-lg text-white space-y-4 mx-4" style="background-color:#a3aebd;" role="alert">
    <div class="flex items-center justify-between">
      <span class="sr-only">Social accounts</span>
      <h3 class="font-medium">2. Social accounts</h3>
      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </div>
  </div>
</div>

<aside class="hidden md:flex" aria-label="Sidebar">
  <div class="px-3 py-4 overflow-y-auto rounded-lg h-96" style="background-color:#363a43;">
      <ul class="space-y-2">
        <li>
            <div class="flex items-center cursor-pointer p-2 text-base font-normal text-white list-hover">
              <svg aria-hidden="true" class="w-6 h-6 transition duration-75 list-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
              <span class="ml-3">Dashboard</span>
            </div>
        </li>
        <li>
            <div class="flex items-center cursor-pointer p-2 text-base font-normal text-white list-hover">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 list-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Kanban</span>
              <span class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium rounded-full" style="background-color:#718096;">Pro</span>
            </div>
        </li>
        <li>
            <div class="flex items-center cursor-pointer p-2 text-base font-normal text-white list-hover">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 list-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"></path><path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"></path></svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
              <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium rounded-full" style="background-color:#718096;">3</span>
            </div>
        </li>
        <li>
            <div class="flex items-center cursor-pointer p-2 text-base font-normal text-white list-hover">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 list-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
            </div>
        </li>
        <li>
            <div class="flex items-center cursor-pointer p-2 text-base font-normal text-white list-hover">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 list-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
            </div>
        </li>
        <li>
            <div class="flex items-center cursor-pointer p-2 text-base font-normal text-white list-hover">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 list-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
            </div>
        </li>
        <li>
            <div class="flex items-center cursor-pointer p-2 text-base font-normal text-white list-hover">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 transition duration-75 list-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
            </div>
        </li>
      </ul>
  </div>
</aside>


<style>
  .list-hover:hover{
    background-color:#444b5a;
    border-radius: 5px;
  }
  .list-icon{
    color: #a3aebd;
  }
</style>