<div class="flex justify-between items-center mb-2 mt-8">
  <div class="text-gray-500 px-3 py-1.5 text bg-white rounded-md cursor-pointer">Overview</div>
  <div class="relative" data-controller="dropdown">
    <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
      <span class="appearance-none flex items-center text-gray-700">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-center inline-flex items-center text-gray-500 px-3 py-1.5 text bg-white hover:bg-gray-100 rounded-md" type="button">Font Family<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
      </span>
    </div>
    <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden">
      <div class="bg-white shadow rounded border overflow-hidden">
        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-600 dark:hover:bg-gray-600 dark:hover:text-white" data-action="click->dropdown#toggle">Inter</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-600 dark:hover:bg-gray-600 dark:hover:text-white" data-action="click->dropdown#toggle">Helvetica</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-600 dark:hover:bg-gray-600 dark:hover:text-white" data-action="click->dropdown#toggle">Monospace</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-600 dark:hover:bg-gray-600 dark:hover:text-white" data-action="click->dropdown#toggle">Cursive</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container rounded-xl bg-gray-50 border mx-auto flex justify-between text-gray-600 border-b overflow-hidden p-4">
  <%= render "home/dashboard_component" %>
</div>