<div class="flex items-center mb-2 mt-8">
  <button class="text-gray-500 px-3 py-1.5 text bg-white bg-gray-100 rounded-md">Overview</button>
  <button class="text-gray-500 px-3 py-1.5 text bg-white hover:bg-gray-100 rounded-md mx-2">Other</button>
</div>

<div class="container rounded-xl bg-gray-50 border mx-auto flex justify-between text-gray-600 border-b overflow-hidden p-4">
  <%= render "home/dashboard_component" %>
</div>