<div class="w-full flex flex-col items-center">
  <div class="md:my-12">
    <div class="text-3xl md:text-5xl tracking-tight font-semibold text-gray-900 text-center">Create Tailwind CSS<br>color families</div>
    <p class="text-gray-500 md:text-lg my-4 text-center">Enter a hexcode</p>
  </div>
  <div class="md:relative w-4/4 md:w-2/4 fixed left-4 right-4 bottom-6" data-controller="select">
    <%= select_tag 'hex_code', id: 'hex-selector', input_html: { data: { 'colors-target': 'hexTextBox' }} %>
  </div>
</div>