@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  [type="text"]:focus {
    --tw-ring-color: #ea580c;
    border-color: #ea580c;
  }
    .text-blue-600{
    color:black !important;
  }
  .list-hover:hover{
    background-color:#444b5a;
    border-radius: 5px;
  }
  .list-icon{
    color: #a3aebd;
  }
}

