@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  /* Current color input focus */
  [type="text"]:focus {
    --tw-ring-color: #5385ae;
    border-color: #5385ae;
  }
    .text-blue-600{
    color:black !important;
  }
  .list-hover:hover{
    background-color:#444b5a;
    border-radius: 5px;
  }
  .list-icon{
    color: #a3aebd;
  }
  /* current color gradient  */
  .to-orange-600 {
    --tw-gradient-to: #5385ae !important;
  }
  .from-orange-400 {
    --tw-gradient-from: #719cbf !important;
  }
}

