<nav class="px-2 sm:px-4 py-1.5 bg-gray-100 fixed w-full z-20 top-0 left-0">
  <div class="px-2 flex flex-wrap items-center justify-between">
    <a href="#" class="items-center">
      <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-900">Huns-UI</span>
    </a>
    <div class="flex md:order-2">
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 absolute md:relative" id="navbar-sticky">
        <ul class="flex flex-col py-4 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 bg-gray-100 border-gray-200">
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-600 rounded hover:bg-gray-300 md:hover:bg-transparent md:p-0 hover:text-gray-900" aria-current="page">Color Scheme</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-600 rounded hover:bg-gray-300 md:hover:bg-transparent md:p-0 hover:text-gray-900">Typography</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-600 rounded hover:bg-gray-300 md:hover:bg-transparent md:p-0 hover:text-gray-900">Blog</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-600 rounded hover:bg-gray-300 md:hover:bg-transparent md:p-0 hover:text-gray-900">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-300 focus:outline-none" aria-controls="navbar-sticky" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
  </div>
</nav>